*{
    background-color: rgb(250, 250, 250);
    
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 20vw;
    /* margin-left: 40%; */
}

@media screen and (max-width:800px) {
    .image{
        width: 150px;
       }

}